<button mat-icon-button (click)="zoomIn.emit()">
  <mat-icon>zoom_in</mat-icon>
</button>
<button mat-icon-button (click)="zoomOut.emit()">
  <mat-icon>zoom_out</mat-icon>
</button>
<button mat-icon-button (click)="copy.emit()">
  <mat-icon>file_copy</mat-icon>
</button>
<button mat-icon-button (click)="edit.emit()">
  <mat-icon>create</mat-icon>
</button>
<button mat-icon-button (click)="remove.emit()">
  <mat-icon>delete_forever</mat-icon>
</button>
<button mat-icon-button (click)="save.emit()">
  <mat-icon>save</mat-icon>
</button>
